<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма бронирования номера</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Форма бронирования номера</h1>

    <form method="POST" action="{% url 'confirm_booking' room_id %}">
        {% csrf_token %}
        <label for="check-in-date">Дата заезда:</label>
        <input type="date" id="check-in-date" name="check-in-date" required>

        <label for="check-out-date">Дата выезда:</label>
        <input type="date" id="check-out-date" name="check-out-date" required>

        <label for="full-name">Полное имя:</label>
        <input type="text" id="full-name" name="full-name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <button type="submit">Подтвердить бронирование</button>
    </form>

    <a href="{% url 'room_list' hotel_id %}">Вернуться к списку доступных номеров</a>

    
</body>
</html>
