<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список бронирований</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Список бронирований</h1>

    {% if bookings %}
        <ul class="bookings-list">
            {% for booking in bookings %}
                <li>
                    <h2>Бронирование №{{ booking.id }}</h2>
                    <p><strong>Отель:</strong> {{ booking.room.hotel.name }}</p>
                    <p><strong>Номер:</strong> {{ booking.room.room_type }}</p>
                    <p><strong>Дата заезда:</strong> {{ booking.check_in_date }}</p>
                    <p><strong>Дата выезда:</strong> {{ booking.check_out_date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет текущих и предстоящих бронирований.</p>
    {% endif %}

    <a href="{% url 'home' %}">Вернуться на главную страницу</a>

</body>
</html>
