<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация об отеле</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ hotel.name }}</h1>

    <div class="hotel-details">
        <p><strong>Местоположение:</strong> {{ hotel.location }}</p>
        <p><strong>Описание:</strong> {{ hotel.description }}</p>
        <p><strong>Рейтинг:</strong> {{ hotel.rating }}</p>

        <h2>Фотографии отеля:</h2>
        {% for photo in hotel.photos.all %}
            <img src="{{ photo.url }}" alt="Photo">
        {% empty %}
            <p>Нет фотографий для отображения.</p>
        {% endfor %}

        <h2>Отзывы и рейтинги:</h2>
        {% for review in hotel.reviews.all %}
            <p><strong>Пользователь:</strong> {{ review.user.username }}</p>
            <p><strong>Комментарий:</strong> {{ review.comment }}</p>
            <p><strong>Рейтинг:</strong> {{ review.rating }}</p>
            <hr>
        {% empty %}
            <p>Пока нет отзывов для отображения.</p>
        {% endfor %}
    </div>

    <a href="{% url 'hotels_list' %}">Вернуться к списку отелей</a>

</body>
</html>
