<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список доступных номеров</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Список доступных номеров</h1>

    {% if rooms %}
        <ul class="rooms-list">
            {% for room in rooms %}
                <li>
                    <h2>{{ room.room_type }}</h2>
                    <p>Цена за ночь: {{ room.price_per_night }} $</p>
                    {% if room.available %}
                        <p>Доступен для бронирования</p>
                        <form method="POST" action="{% url 'booking_room' room.id %}">
                            {% csrf_token %}
                            <label for="check-in-date">Дата заезда:</label>
                            <input type="date" id="check-in-date" name="check-in-date" required>

                            <label for="check-out-date">Дата выезда:</label>
                            <input type="date" id="check-out-date" name="check-out-date" required>

                            <button type="submit">Забронировать</button>
                        </form>
                    {% else %}
                        <p>Не доступен для бронирования</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных номеров.</p>
    {% endif %}


    <a href="{% url 'hotel_detail' hotel_id %}">Вернуться к информации об отеле</a>

</body>
</html>
